.login-container{
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-container{
  width: 600px;
  height: 300px;
  background-color: var(--card-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap : 20px;
}

.login-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

p{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
}

.login-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

@media (max-width: 768px) {
  .login-card-container {
    width: 70%;
    height: auto;
    padding: 20px;
  }
}